AirportService/Connected Services/AirportService/AirportEntities.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AirportEntities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AirportEntities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ControlTower">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="ControlTower" nillable="true" type="tns:ControlTower" />
  <xs:complexType name="PlaneManager">
    <xs:sequence>
      <xs:element minOccurs="0" name="Aircraft" nillable="true" type="tns:ArrayOfPlane" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlaneManager" nillable="true" type="tns:PlaneManager" />
  <xs:complexType name="ArrayOfPlane">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Plane" nillable="true" type="tns:Plane" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlane" nillable="true" type="tns:ArrayOfPlane" />
  <xs:complexType name="Plane">
    <xs:sequence>
      <xs:element minOccurs="0" name="Available" type="xs:boolean" />
      <xs:element minOccurs="0" name="Flow" type="tns:Flow" />
      <xs:element minOccurs="0" name="PassengersState" type="tns:PassengersState" />
      <xs:element minOccurs="0" name="PlaneID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Plane" nillable="true" type="tns:Plane" />
  <xs:simpleType name="Flow">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LandStatus" />
      <xs:enumeration value="TakeoffStatus" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Flow" nillable="true" type="tns:Flow" />
  <xs:simpleType name="PassengersState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Full" />
      <xs:enumeration value="Empty" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PassengersState" nillable="true" type="tns:PassengersState" />
  <xs:complexType name="Flight">
    <xs:sequence>
      <xs:element minOccurs="0" name="FlightNumber" type="xs:int" />
      <xs:element minOccurs="0" name="Flow" type="tns:Flow" />
      <xs:element minOccurs="0" name="Plane" nillable="true" type="tns:Plane" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Flight" nillable="true" type="tns:Flight" />
</xs:schema>