FlightsGenerator/Connected Services/AirportService/AirportService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AirportService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2112/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2112/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2112/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AirportEntities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAirportService_GetControlTower_InputMessage">
    <wsdl:part name="parameters" element="tns:GetControlTower" />
  </wsdl:message>
  <wsdl:message name="IAirportService_GetControlTower_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetControlTowerResponse" />
  </wsdl:message>
  <wsdl:message name="IAirportService_GetPlaneManager_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlaneManager" />
  </wsdl:message>
  <wsdl:message name="IAirportService_GetPlaneManager_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlaneManagerResponse" />
  </wsdl:message>
  <wsdl:message name="IAirportService_GetPlane_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlane" />
  </wsdl:message>
  <wsdl:message name="IAirportService_GetPlane_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlaneResponse" />
  </wsdl:message>
  <wsdl:message name="IAirportService_GetFlight_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFlight" />
  </wsdl:message>
  <wsdl:message name="IAirportService_GetFlight_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFlightResponse" />
  </wsdl:message>
  <wsdl:message name="IAirportService_UpdateDataBase_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDataBase" />
  </wsdl:message>
  <wsdl:message name="IAirportService_UpdateDataBase_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDataBaseResponse" />
  </wsdl:message>
  <wsdl:message name="IAirportService_GetValue_InputMessage">
    <wsdl:part name="parameters" element="tns:GetValue" />
  </wsdl:message>
  <wsdl:message name="IAirportService_GetValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetValueResponse" />
  </wsdl:message>
  <wsdl:portType name="IAirportService">
    <wsdl:operation name="GetControlTower">
      <wsdl:input wsaw:Action="http://tempuri.org/IAirportService/GetControlTower" message="tns:IAirportService_GetControlTower_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAirportService/GetControlTowerResponse" message="tns:IAirportService_GetControlTower_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlaneManager">
      <wsdl:input wsaw:Action="http://tempuri.org/IAirportService/GetPlaneManager" message="tns:IAirportService_GetPlaneManager_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAirportService/GetPlaneManagerResponse" message="tns:IAirportService_GetPlaneManager_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlane">
      <wsdl:input wsaw:Action="http://tempuri.org/IAirportService/GetPlane" message="tns:IAirportService_GetPlane_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAirportService/GetPlaneResponse" message="tns:IAirportService_GetPlane_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFlight">
      <wsdl:input wsaw:Action="http://tempuri.org/IAirportService/GetFlight" message="tns:IAirportService_GetFlight_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAirportService/GetFlightResponse" message="tns:IAirportService_GetFlight_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDataBase">
      <wsdl:input wsaw:Action="http://tempuri.org/IAirportService/UpdateDataBase" message="tns:IAirportService_UpdateDataBase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAirportService/UpdateDataBaseResponse" message="tns:IAirportService_UpdateDataBase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetValue">
      <wsdl:input wsaw:Action="http://tempuri.org/IAirportService/GetValue" message="tns:IAirportService_GetValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAirportService/GetValueResponse" message="tns:IAirportService_GetValue_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAirportService" type="tns:IAirportService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetControlTower">
      <soap:operation soapAction="http://tempuri.org/IAirportService/GetControlTower" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlaneManager">
      <soap:operation soapAction="http://tempuri.org/IAirportService/GetPlaneManager" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlane">
      <soap:operation soapAction="http://tempuri.org/IAirportService/GetPlane" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFlight">
      <soap:operation soapAction="http://tempuri.org/IAirportService/GetFlight" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDataBase">
      <soap:operation soapAction="http://tempuri.org/IAirportService/UpdateDataBase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetValue">
      <soap:operation soapAction="http://tempuri.org/IAirportService/GetValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AirportService">
    <wsdl:port name="BasicHttpBinding_IAirportService" binding="tns:BasicHttpBinding_IAirportService">
      <soap:address location="http://localhost:2112/Airport" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>